---
meta:
  author: Esa Mäkitalo
  description: Hoodrip skateboarding
  keywords: Hoodrip skateboarding, Unity, Arcade, Mobile
  tabcolor: #000000
title: Hoodrip skateboarding
---

{{> header}}
{{#markdown}}

# Hoodrip Skateboarding
## Arcticplay
### 2014-2016

Mobile game, published in November 2016 for iOS/[Android](https://www.apkmonk.com/app/com.Arcticplay.Hoodrip/) (WARNING! Install at your own risk. Not maintained by Google Play anymore). 

Unfortunately game is no longer available in App Store or Google Play.

I worked in [Arcticplay Studios](http://www.arcticplay.fi) from February 2014 to December 2016 as a technical and environmental artist in the Hoodrip Skateboarding game.

Working in a starting game company with a technical staff of only four people meant having a broad range of responsibilities. 

In addition to having a profound understanding of the technical aspect of the game, I did most of the level design, 3d modelling, texturing and lightning for the game.

My job involved shader programming and design (CG / shader emulation in Blender with material node editor), Blender to Unity pipeline programming (automated lightmap rendering and compositing, UV layout optimization, fully modular non-destructive object creation, and automated level export) as well as object design, modelling, texturing and optimizing (Blender, Affinity Photo, GIMP).  

{{> image external='true' caption='Hoodrip San Francisco' path='https://lvl001.net/beta/esa/static-files/images/portfolio/hoodrip_frisco.jpg'}}
{{> video caption='Hoodrip video' path='https://www.youtube.com/embed/_WfZrbzvdj4' iframe='true'}}
{{> video caption='Hoodirp video' path='https://lvl001.net/static/assets/video/sf_001.mp4'}}
{{> video caption='Hoodrip video' path='https://lvl001.net/static/assets/video/sf_002.mp4'}}
{{> video caption='Hoodrip video' path='https://lvl001.net/static/assets/video/sf_003.mp4'}}
{{> image external='true' caption='Hoodrip San Francisco' path='https://lvl001.net/beta/esa/static-files/images/portfolio/sf_001.jpg'}}
{{> image external='true' caption='Hoodrip San Francisco' path='https://lvl001.net/beta/esa/static-files/images/portfolio/sf_003.jpg'}}
{{> image external='true' caption='Hoodrip San Francisco' path='https://lvl001.net/beta/esa/static-files/images/portfolio/ny_001.jpg'}}

{{/markdown}}
{{> footer}}
