---
meta:
  author: Esa Mäkitalo
  description: Oneshot interactive documentary
  keywords: Oneshot, Jan Ijäs, Interactive documentary
  tabcolor: #000000
title: Oneshot
---

{{> header}}
{{#markdown}}

# [Oneshot](http://www.oneshot.fi)
## Visiokolmio Oy
### 2015

Interactive documentary film [ONESHOT](http://www.oneshot.fi) by Jan Ijäs
47min | 2015 | Visiokolmio Oy

ONESHOT is an interactive documentary film of the most watched moment in human history. Filmed during the 2010 FIFA World Cup Final, One Shot reveals what else happened in that same moment elsewhere in the world. This included a total solar eclipse, a train journey from Fukushima to Tokyo and a swimmer in cold water, to name a few.

The spectator can jump from one shot to another and watch three images at the time, running synchronized with all the other shots taken simultaneously. All the shots can be found on the same time-line which can be started once, but cannot be stopped, forwarded or rewound. One can only proceed in one direction on it. When the spectator, who in this case is also the maker of the film, watches one shot, he/she ”misses” all the other 52 situations that take place at the same time. When the spectator cuts from one shot to another, he/she always turns their gaze to another place, possibly even to the other side of the world.

{{> image caption='Oneshot projected on the wall.' path='oneshot_002.jpg'}}

{{/markdown}}
{{> footer}}
