---
meta:
  author: Esa Mäkitalo
  description: Siinai Sykli music video
  keywords: Siinai, Sykli, Music video, generative, blender, blackhole
  tabcolor: #000000
title: Siinai - Sykli
---

{{> header}}
{{#markdown}}

# Sykli
## Siinai
### 2017

A fully procedural music video made purely with Blender for band Siinai.  
You can find complete [Blender](https://www.blender.org/) project file [HERE](https://lvl001.net/beta/esa/static-files/files/siinai_sykli.blend).

{{> video caption='Video post processed in After Effects' path='https://www.youtube.com/embed/SVKaB0PPp5w' iframe='true'}}

{{> video caption='Video post processed in Blender' path='https://lvl001.net/static/assets/video/final.mp4'}}

{{/markdown}}
{{> footer}}
