---
meta:
  author: Esa Mäkitalo
  description: vjsoft
  keywords: vjsoft, glsl, opengl, openframeworks, c++
  tabcolor: #000000
title: vjsoft
---

{{> header}}
{{#markdown}}

# [VJSoft](https://gitlab.com/emakitalo/videodrome)
## Personal project
### 2014-2020

Minimalistic VJ software for improvisational live performances. Made with openframeworks. 

[VJSoft in Gitlab](https://gitlab.com/emakitalo/videodrome)

{{> image external='true' caption='' path='https://lvl001.net/beta/esa/static-files/images/portfolio/vj_003.png'}}
{{> image external='true' caption='' path='https://lvl001.net/beta/esa/static-files/images/portfolio/vj_004.png'}}
{{> image external='true' caption='' path='https://lvl001.net/beta/esa/static-files/images/portfolio/vj_001.jpg'}}
{{> image external='true' caption='' path='https://lvl001.net/beta/esa/static-files/images/portfolio/vj_002.jpg'}} 
{{> image external='true' caption='@kaiku @jehu' path='https://lvl001.net/beta/esa/static-files/images/portfolio/kaiku_jehu.png'}}

{{> video path='https://player.vimeo.com/video/86338761' iframe='true'}}
{{> video path='https://lvl001.net/static/assets/video/kaiku_jehu.mp4'}}
{{> video path='https://lvl001.net/static/assets/video/maantomu.mp4'}}
{{> video path='https://lvl001.net/static/assets/video/vjsoft_001.mp4'}}
{{> video path='https://lvl001.net/static/assets/video/vjsoft_002.mp4'}}
{{> video path='https://lvl001.net/beta/esa/media/videos/barÖ.mp4'}}

{{/markdown}}
{{> footer}}
