---
meta:
  author: Esa Mäkitalo
  description: Rust to WASM
  keywords: Rust, WASM, Parcel 
  tabcolor: #000000
header: &1 Portfolio
folder: ""
title: *1
scripts:
  - /src/ts/ws.ts
---
{{> header}}
{{#markdown}}
# {{header}}
{{/markdown}}
{{> list }}
{{> footer}}
