---
meta:
  author: Esa Mäkitalo
  description: Info page
  keywords: Esa Mäkitalo, Info, Contact
  tabcolor: #000000
title: &1 Info
header: *1
---

{{> header}}
{{#markdown}}

[esatmakitalo@gmail.com](mailto:esatmakitalo@gmail.com)  
[Gitlab](https://www.gitlab.com/emakitalo)

{{/markdown}}
{{> footer}}
