.galleryCont
  position fixed
  top 0
  left 0
  width 100%
  height 100%

.prevBtn
  &:before
    content "<"
    display block
  display block
  position absolute

.nextBtn
  &:before
    content ">"
    display block
  display block
  position absolute

.closeBtn
  &:before
    content "×"
    display block
  display block
  position absolute
