@font-face
  font-family Inter
  src url("./fonts/Inter-Regular.otf")
  font-style normal
  font-weight 400
  font-display swap

padding-mobile = 30
padding-desktop = 12.5%
fs-width = 768
main-yoff = 30
menu-color = #b2a
main-color = #555
bg-color = #fff

*
  padding 0
  margin 0
  box-sizing border-box
  text-decoration none
  font-family Inter, sans-serif
  color #555
  letter-spacing 0.02em

body
  display flex
  flex-direction column
  width 100%
  height 100%
  min-height 100vh
  background bg-color

header
  flex 0 1 auto
  margin 0 auto
  width fs-width
  padding padding-mobile 0

//iframe-fix = "calc(%s - %s)" % (padding-desktop (padding-mobile/3)px)
iframe-fix = padding-desktop

main
  flex 1 1 auto
  margin 0 auto
  width fs-width
  :first-child
    margin-top 0
  > *
    margin-top 20
  p:first-of-type
    margin-top padding-mobile
  > p
    font-size 14
    line-height 140%
  > figure
    margin-top padding-mobile
  > ul
    li
      margin 0 0 6 0
      a
        font-size 24
    li:last-child
      margin 0

footer
  width fs-width
  font-size 13
  flex 0 1 auto
  height 100%
  font-weight bold
  padding padding-mobile 0
  margin 0 auto
  *
    color main-color

a
  color main-color
  font-weight bold
  &:hover
    color menu-color

h1
  font-size 48
  font-weight 800

ul
  list-style-type none

nav
  font-weight 600
  > ul
    padding 0 !important
    margin 0 !important
    border none !important
    > li 
      > a
       font-size 32 !important
  ul
    padding 0 0 10 0
    max-height 100vh
    opacity 1
    overflow-y clip
    //background linear-gradient(0deg, rgba(0,255,0,0.05) 0%, rgba(0,255,0,0) 50%)
    border-bottom 2px solid main-color
    transition all 0.35s cubic-bezier(0.9, 0, 0.1, 1.0)
    li
      display table
      width 100%
      padding-top 10
      a
        font-size 24
      a:only-child
        line-height 1em
        display block
        font-size 18
        margin 0 0 0 (padding-mobile/2)
      label
        width 20
        text-align center
  input
    display none
    + label
      display inline-block
      vertical-align middle
      position relative
      margin-right 3
      &:after
        color menu-color
        cursor pointer
        content "-" !important
        font-size 30
      &:hover:after
        color main-color !important
      + a 
        display inline-block
        vertical-align middle
        padding 0 0 0 5 !important
  input:checked
    + label
      &:after
        content "+" !important
      + a + ul
        pointer-events none
        max-height 0
        border-bottom 0px solid transparent
        opacity 0
        margin 0
        padding 0
    &:hover
      > ul
        opacity 1

img-border-width = 1px

figure
  figcaption
    position relative
    font-size 11
    font-weight bold
    padding (padding-mobile/3) 0 0 0
  img, video
    display block
    width 100%

.video
  iframe
    width 100%
    height 100%
    aspect-ratio 16/9

@media (max-width: 828px)
  main
    width 100%
    > *:not(figure)
      margin-left padding-mobile
      margin-right padding-mobile
  nav ul li 
    a:only-child
      margin 0 0 0 (padding-mobile*1.5)
    label
      margin-left padding-mobile
  header
    width 100%
  footer
    padding padding-mobile 0
    margin 0 padding-mobile
    width auto
  figure
    figcaption
      padding (padding-mobile/3) (padding-mobile/3) 0 (padding-mobile/3)
    img
      width 100%
