{{#each data}}
  {{#unless (match @key '_name')}}
    {{#if (gt (length this) 1)}}
      {{#if (gt (length (match @key 'index')) 0)}}
		<a href="index.hbs">
      {{else}}
		<a href=".{{append ../path (append '/' @key)}}/index.hbs">
      {{/if}}
		</a>
      {{#if (match @key 'index')}}
        {{> build data=this path=''}}
      {{else}}
        {{> build data=this path=(append ../path (append '/' @key))}}
      {{/if}}
      {{else}}
      {{#if @key}}
         <a href=".{{append ../path (append '/' @key)}}.hbs"></a>
      {{else}}
         <a href=".{{append ../path '/'}}index.hbs"></a>
      {{/if}}
     {{/if}}
  {{/unless}}
{{/each}}
