<!doctype html>
<html lang="en">
    <head>
        <link rel="preload" href="/src/stylus/main.styl" as="style" onload="this.rel='stylesheet'"/>
        <link rel="stylesheet" href="/src/stylus/main.styl" media="print" onload="this.media='all'"/>
        <noscript><link rel="stylesheet" href="/src/stylus/main.styl"></noscript>
        {{> meta}}
        <title>{{meta.author}}{{#if title}} | {{title}}{{/if}}</title>
        {{#each stylesheets}}
            <link rel="preload" href="{{this}}" as="style" onload="this.rel='stylesheet'"/>
            <link href="{{this}}" rel="stylesheet" onload="this.media='all'"/>
            <noscript><link rel="stylesheet" href="{{this}}"></noscript>
        {{/each}}
    </head>
    <body>
        <header>
            {{#if navigation}} 
                <nav> {{> navigation data=navigation path=''}} </nav> 
            {{else if data}}
                <nav> {{> navigation path=''}} </nav> 
            {{/if}}
        </header>
        <main>
