<figure>
    {{#if link}}
        {{#if external}}
            <a href="{{link}}"><img loading="lazy" src="{{path}}" alt="{{alt}}"/>
        {{else}}
            <a href="{{link}}"><img loading="lazy" src="/src/images/{{path}}" alt="{{alt}}"/>
        {{/if}}
        </a>
    {{else}}
        {{#if external}}
            <img loading="lazy" src="{{path}}" alt="{{alt}}"/>
        {{else}}
           <a href="/src/images/{{path}}"><img loading="lazy" src="/src/images/{{path}}?as=webp&width=768" alt="{{alt}}"/></a>
        {{/if}}
    {{/if}}
    {{#if caption}}
        {{#if cap-link}}
            <figcaption><a href="{{cap-link}}">{{caption}}</a></figcaption>
        {{else}}
            <figcaption>{{caption}}</figcaption>
        {{/if}}
    {{/if}}
</figure>
