{{#each data}}
    {{#if (match ../path ../folder)}}
            {{#unless (match @key '_name')}}
                {{#unless (match @key 'index')}}
                    {{#if (gt (length this) 1)}}
                        <li><a href="{{append ../path (append '/' @key)}}">{{_name}} +</a></li>
                    {{else}}
                        <li><a href="{{append ../path (append '/' @key)}}">{{_name}}</a></li>
                    {{/if}}
                {{/unless}}
            {{/unless}}
    {{/if}}
    {{#if (gt (length this) 1)}}
        {{#if (match @key "index")}}
        <ul>
            {{> list data=this path="" folder=../folder}}
        </ul>
        {{else}}
            {{#unless (match @key '_name')}}
                {{> list data=this path=(append ../path (append '/' @key)) folder=../folder}}
            {{/unless}}
        {{/if}}
    {{/if}}
{{/each}}
