<ul>
    {{#each data}}
    {{#unless (match @key '_name')}}
    <li>
        {{#if (gt (length this) 1)}}
		  <input checked type="checkbox" id="{{append ../path (append '/' @key)}}"/>
		  <label for="{{append ../path (append '/' @key)}}"></label>
		  {{#if (gt (length (match @key 'index')) 0)}}
			<a href="/">{{this._name}}</a>
		  {{else}}
			<a href="{{append ../path (append '/' @key)}}">{{this._name}}</a>
		  {{/if}}
		  {{#if (gt (length (match @key 'index')) 0)}}
			{{> navigation data=this path=''}}
		  {{else}}
			{{> navigation data=this path=(append ../path (append '/' @key))}}
		  {{/if}}
		{{else}}
		  <a href="{{append ../path (append '/' @key)}}">{{this._name}}</a>
        {{/if}}
    </li>
    {{/unless}}
    {{/each}}
</ul>
