<figure {{#if iframe}}class="video"{{/if}}>
    {{#if iframe}}
        <iframe loading="lazy" width="560" height="315" src="{{path}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {{else}}
        <video controls src="{{path}}"></video>
    {{/if}}
    {{#if caption}}
        <figcaption>{{caption}}</figcaption>
    {{/if}}
</figure>
