---
meta:
  author: Esa Mäkitalo
  description: Kiki Pau Hiisi Album
  keywords: Kiki Pau, Hiisi, Psych rock, Psychedelia, Music
  tabcolor: #000000
title: Kiki Pau – Hiisi
---

{{> header}}
{{#markdown}}

# [Kiki Pau — Hiisi](https://kikipaubbib.bandcamp.com/album/hiisi)
## [Beyond Beyond Is Beyond Records](https://beyondbeyondisbeyond.com/)
### 2018

{{> image caption='Cover of the Album' path='hiisi.jpg'}}

{{> image caption='Cover of the Album' path='hiisi_bg.jpg'}}

{{/markdown}}
{{> footer}}
