---
meta:
  author: Esa Mäkitalo
  description: Kiki Pau Pines Album
  keywords: Kiki Pau, Pines, Psych rock, Psychedelia, Music
  tabcolor: #000000
title: Kiki Pau - Pines
---

{{> header}}
{{#markdown}}

# [Kiki Pau - Pines](https://kikipaubbib.bandcamp.com/album/pines)
## [Beyond Beyond Is Beyond Records](https://beyondbeyondisbeyondrecords.bandcamp.com/)
### 2013  

{{> image caption='Cover of the Album Pines' path='pines.jpg'}}

{{> video caption='Real-time captured and animated video for Pines #1' path='https://player.vimeo.com/video/86338761' iframe='true'}}

{{/markdown}}
{{> footer}}
