---
meta:
  author: Esa Mäkitalo
  description: Deflektor game
  keywords: Deflektor, Unity, Puzzle, Mobile
  tabcolor: #000000
title: Deflektor
---

{{> header}}
{{#markdown}}

# Deflektor
## Arcticplay Oy
### 2016

Mobile game for iOS/Android/WebGL discontinued and demo at very early stage.

[Deflektor](https://lvl001.net/beta/esa/projects/unity/deflektor/index.html) was my puzzle game project 
for Arcticplay Studios after finishing [Hoodrip Skateboarding](https://lvl001.net/beta/esa/work/Hoodrip.md) mobile game, 
the demo was in very early stage and not to be considered as anything final.
I did most of the gameplay progamming (C# and CG scripting), gameplay design, modelling, texturing, lighting and effects.
The project was discontinued when Arcticplay Studios run out of business at a very early stage of the project.  

My co-worker and I made a hexagon based level editor for Deflektor. The idea was to be able to create and distribute 
levels without having to recompile the code and instead use JSON files to describe and distribute the new levels.  

The idea of the game is to score as many points as possible by shooting beams at game objects. 
You score and pass leves by activating the game objects according to the game's rules.

{{> image external='true' caption='Screen capture of Deflektor' path='https://lvl001.net/beta/esa/static-files/images/portfolio/deflektor_003.png'}}

{{/markdown}}
{{> footer}}
