---
meta:
  author: Esa Mäkitalo
  description: ESP32-Game
  keywords: esp32, mozzi, platformio, c, soc
  tabcolor: #000000
title: ESP32-Game
---

{{> header}}
{{#markdown}}

# [ESP32-Game](https://gitlab.com/emakitalo/esp32-game)
## Personal project
### 2022->

Minimalistic game library for ESP32 written in C using [Mozzi]() library for audio.

[Video of ESP32-Game](https://www.instagram.com/tv/CaIAZkcFjDT/?utm_source=ig_web_copy_link)

{{> image caption='Hardware setup for ESP32-Game' path='esp32-game.png'}}


{{/markdown}}
{{> footer}}
