---
meta:
  author: Esa Mäkitalo
  description: Flugzeug demo
  keywords: Flugzeug, webgl, glsl, javascript
  tabcolor: #000000
title: Flugzeug
---

{{> header}}
{{#markdown}}

# [Flugzeug](https://lvl001.net/users/esa/lvl001_threejs)
## Personal project
### 2017

[Flugzeug](https://lvl001.net/users/esa/lvl001_threejs) is small framework for creating games.

{{> image caption='Flugzeug in action' path='flugzeug.png'}}

{{/markdown}}
{{> footer}}
