---
meta:
  author: Esa Mäkitalo
  description: Rust to WASM
  keywords: Rust, WASM, Parcel 
  tabcolor: #000000
header: Code
folder: /code
---

{{> header}}
{{#markdown}}
# {{header}}
{{/markdown}}
{{> list }}
{{> footer}}
