---
meta:
  author: Esa Mäkitalo
  description: ninjamaster demo
  keywords: ninjamaster, webgl, three.js, 3d
  tabcolor: #000000
title: ninjameister
---

{{> header}}
{{#markdown}}

# [Ninjameister](https://gitlab.com/emakitalo/ninjameister)
## Personal project
### 2020

Small platformer/puzzle game made with ThreeJs, PixiJs.

[Ninjameister in Gitlab](https://gitlab.com/emakitalo/ninjameister)

{{/markdown}}
{{> footer}}
