---
meta:
  author: Esa Mäkitalo
  description: platformer framework
  keywords: platformer, canvas, pixel graphics, javascript
  tabcolor: #000000
title: platformer
---

{{> header}}
{{#markdown}}

# [Platformer](https://lvl001.net/platformer)
## lvl001 project
### 2020

Controls:
- ARROWS = move
- X = Shoot 
- SPACE = Jump 
- A = Spawn enemies 
- R = Reset position
- MOBILE = Touch

code by [esa](https://lvl001.net/beta/esa)  
gfx by [jaarli](https://lvl001.net/beta/jaarli)  

[Platformer in Gitlab](https://gitlab.com/emakitalo/platformer)

{{/markdown}}
{{> footer}}
