---
meta:
  author: Esa Mäkitalo
  description: Puuradio website
  keywords: Puuradio, Outi Rossi, express, typescript, p5js
  tabcolor: #000000
title: Puuradio
---

{{> header}}
{{#markdown}}

# [Puuradio](https://puuradio.org)
## Outi Rossi
### 2021

Puuradion juuret kurottuvat kymmenen vuoden taakse kun dramaturgi, näytelmäkirjailija Outi Rossi alkoi etsiä historiasta ajanjaksoa, jona ihmiset ovat olleet nykypäivän kaltaisen muutospaineen alla. Hän löysi näytelmän neljä henkilöhahmoa, jotka elivät 1800-luvun puolivälin Euroopassa erilaisia maailmankatsomuksia edustaen. Karl Marx on henkilöhahmoista laajimmin tunnettu. Hänen tyttärensä Eleanor Marx oli perheen kuopus, brittiläisen työväenliikkeen keskeisiä toimijoita, kääntäjä ja isänsä poliittisen perinnön jatkaja. Marxien draamalliseksi vastavoimaksi löytyi Saksan yhdistäjä, nationalistinen sotastrategi Otto von Bismarck, ja kolmanneksi aatteelliseksi argumentoijaksi ensimmäiseksi ekofilosofiksi mainittu ranskalainen maantieteilijä, anarkisti Élisée Reclus. Näytelmä Eleanor on aatteiden proosarunotutkielma, jonka laulujen lyriikoiden sisällöt löytyivät Marxin talousteoriajättiläisestä Pääomasta, osin reflektoiden päivänpolttavia talouskysymyksiä. Laulut sävelsi ja sovitti Rossin kanssa aiemmin yhteistyötä tehnyt säveltäjä, muusikko Matti Wallenius, ja ne laulaa Laura Valldén.  

Näytelmä ja musiikki äänitettiin kevättalvella 2021 osaksi Puuradio-installaatiota: siirreltävää, viipaloitua onttoa kuusen runkoa, jonka sisään on mahdollista eriytyä kuuntelemaan aatteiden virtaa tai viettämään hetki omassa rauhassa. Musiikki ja teksti versovat samaten Esa Mäkitalon rakentamilta nettisivuilta kuulijan ulottuville. Puuradio-installaatiota ja Eleanor-näytelmän kirjoitus- ja sävellystyötä on tukenut Taiteen edistämiskeskus.  

Teksti  
Outi Rossi

{{/markdown}}
{{> footer}}
