---
meta:
  author: Esa Mäkitalo
  description: Tapani Rinne related projects
  keywords: Tapani Rinne, Artur Närvänen, Esa Mäkitalo, HTML, CSS, Music, Jazz, Design
  tabcolor: #000000
title: Tapani Rinne
---

{{> header}}
{{#markdown}}

# [Tapani Rinne](https://tapanirinne.com)
## Tapani Rinne
### 2020-

Code [Esa Mäkitalo](https://esamäkitalo.com)
Design [Artur Närvänen](https://fi.linkedin.com/in/artur-n%C3%A4rv%C3%A4nen-b5022174)

{{/markdown}}
{{> footer}}
