---
meta:
  author: Esa Mäkitalo
  description: spaceisthehead demo
  keywords: spaaceisthehead, Unity 3d, webgl, wasm
  tabcolor: #000000
title: spaceisthehead
---

{{> header}}
{{#markdown}}

# [spaceistheheadventure](https://lvl001.net/beta/esa/projects/unity/spaceistheadventure/index.html)
## lvl001 project
### 2019

gfx by [JP](https://lvl001.net/beta/jp)
music by [jaarli](https://lvl001.net/beta/jaarli)
code by [esa](https://lvl001.net/beta/esa)

[spaceistheheadventure](https://lvl001.net/beta/esa/projects/unity/spaceistheadventure/index.html)  
[spaceistheheadventure in Gitlab](https://gitlab.com/emakitalo/spaceistheadventure)

{{/markdown}}
{{> footer}}
