---
meta:
  author: Esa Mäkitalo
  description: tinycms
  keywords: tinycms, cms, content management system, express, rethinkdb, vanilla js
  tabcolor: #000000
title: tinycms
---

{{> header}}
{{#markdown}}

# [TinyCMS](https://gitlab.com/emakitalo/hiisi)
## Personal project
### 2019

I made [TinyCMS](https://lvl001.net/beta/esa/work/TinyCMS.md) content management system from scratch with node.js, express, passport.js, sass, and handlebars.
TinyCMS is an administration site where users can easily create blogs, publish content and serve files.
I used TinyCMS for creating this site that you are currently reading.
TinyCMS has been used in Pelimiitti collaborative workshop from March 2019 (the previous version was used

{{> image external='true' caption='' path='https://lvl001.net/beta/esa/static-files/images/portfolio/lvl001_001.png'}}

{{/markdown}}
{{> footer}}
