---
meta:
  author: Esa Mäkitalo
  description: totris
  keywords: totris, Tetris, html elements, javascript
  tabcolor: #000000
title: totris
---

{{> header}}
{{#markdown}}

# [Totris](https://lvl001.net/beta/esa/projects/vanilla/totris/index.html)
## Personal project
### 2019

Simple tetris clone made with vanilla js and css

{{/markdown}}
{{> footer}}
